/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body *
{
	padding : 0;
	margin: 0;
}

body
{
	background: url("../images/bg.png") repeat;
	font: 16px/1.5 "Helvetica Neue", Helvetica, sans-serif;
	color: black;
}

header
{
	padding-top: 10px;
}

header, .conteneur, #prochaineReunion article, nav
{
	min-width: 900px;
	max-width: 1200px;
	width: 80%;
	margin: auto;
}

header h1 a
{
	text-decoration: none;
	color: black;
	font-size: 1.125em; /* 18 / 16px  */
}

#titleDesc
{
	display: block;
	float: left;
	font-size: 24px;
	padding-top: 38px;
	font-weight: normal;
	padding-left: 20px;
}

header h1 a img
{
	display: block;
	float: left;
}


nav 
{
	min-width: 900px;
	max-width: 1200px;
	width: 80%;
	margin: auto;
	background: url("../images/bg.png") repeat;
	padding: 5px 0px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	text-align: center;
}

nav a
{
	text-decoration: none;
	font-family: “Myriad Pro”, Arial, Helvetica, Tahoma, sans-serif;
	font-size: 22px;
	color: black;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

nav li
{
	display: inline;
	padding: 5px 1.5em;
}

li.current a
{
	font-weight: bold;
	color: rgb(161, 198, 93);
}

#slider
{
	clear: both;
	background : url("../images/slider2.jpg") no-repeat center;
	background-size: cover;
	top: 30px;
	height: 350px;
}

#sliderPresentation
{
	margin-top: 30px;
	height: 250px;
	background: rgba(0, 0, 0, .29);
	color: white;
}

#sliderPresentation h2
{
	font-weight: bold;
	font-size: 48px;
	padding-top: 90px;
}

#sliderPresentation p
{
	font-size: 24px;
}

/*
#slider img
{
	min-width: 900px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
}
*/


#prochaineReunion
{
	clear: both;
	height: 50px;
	line-height: 50px;
	background: white;
	border-bottom: 1px solid #333;
}

#nextMeetingTitle, .nextMeetingDesc
{
	font-weight: bold;
	font-size: 18px;
}

#nextMeetingTitle
{
	border-right: 1px solid #333;
	padding-right: 20px;
	margin-right: 5px;
}

.nextMeetingDesc
{
	border-left: 1px solid #333;
	padding-left: 20px;
}

.light
{
	font-weight: normal;
}

#conteneur
{
	margin-top: 20px;
}


.clear
{
	clear: both;
} 

#lastNews
{
	width: 31%;
	display: inline-block;
	padding: .5em .5em .5em 0;
	border-right: 1px solid rgba(0, 0, 0, .29);
	-webkit-box-shadow: 1px 0px 1px rgba(255, 255, 255, 1);
	-moz-box-shadow:    1px 0px 1px rgba(255, 255, 255, 1);
	box-shadow:         1px 0px 0px rgba(255, 255, 255, 1);
}

#lastNews h3
{
	font-size: 18px;
}

#presentationClub
{
	width: 62%;
	display: inline-block;
	vertical-align: top;
	padding: 0.5em;
}

#presentationClub h2, #lastNews h2
{
	font-size: 30px;
	margin-bottom: 10px;
}

#presentationClub li
{
	list-style-image: url("../images/check.png");
	font-size: 24px;
	margin-left: 60px;
	padding: 15px 15px 0 15px;
	vertical-align: top;
}

#presentationClub ul
{
	margin-left: 60px;
}

footer
{
	clear: both;
	background: url("../images/dark_bg.png") repeat;
}

.lastNewsFooter
{
	width: 33%;
	float: left;
	padding: 20px 0;
}

.lastNewsFooter h3
{
	color: white;
	font-size: 18px;
}

.lastNewsFooter a, #lastNews a
{
	color: rgba(105, 172, 7, 1);
	font-size: 16px;
	text-decoration: none;
}

#lastNews a
{
	text-shadow: 1px 1px 0px rgba(255, 254, 176, 1);
}

#lastNews a:hover
{
	border-bottom: 1px solid rgba(255, 254, 176, 1);
}

.lastNewsFooter li
{
	list-style-type: none;
}

#contenu
{
	margin-top: 30px;
	margin-bottom: 30px;
}

.newsSeparation
{
	margin: 10px 0;
	border: none;
	height: 1px;
	width: 100%;
	background: rgba(0, 0, 0, .29);
	border-bottom: 1px solid white;
}
